---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import config from "@config";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {config.site.name}
        </div>
      </Link>
      <nav class="flex gap-4">
        <Link href="/work">work</Link>
        <Link href="/projects">projects</Link>
      </nav>
    </div>
  </Container>
</header>
