---
import { getCollection, render } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@utils";
import config from "@config";

const workCollection = await getCollection("work");
const work = await Promise.all(
  workCollection
    .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf())
    .map(async (item) => {
      const { Content } = await render(item);
      return { ...item, Content };
    }),
);
---

<PageLayout
  title={config.meta.work.title}
  description={config.meta.work.description}
>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">Work</div>
      <ul class="flex flex-col space-y-4">
        {
          work.map((entry) => (
            <li class="animate">
              <div class="text-sm opacity-75">
                {dateRange(entry.data.startDate, entry.data.endDate)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">{entry.data.role}</div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
